<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You need to grant the app access to your photo library so you can pick your favorite restaurant photo.</string>
	<key>NSCameraUsageDescription</key>
	<string>You need to grant the app access to your camera in order to take photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Regular.ttf</string>
	</array>
</dict>
</plist>
