<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965152306523-e008b71qma06ch5p5q2np0rqi8c6rauo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965152306523-e008b71qma06ch5p5q2np0rqi8c6rauo</string>
	<key>API_KEY</key>
	<string>AIzaSyA_oHZ2PVudIYfyapZhZOyzhbt6wLJHz6w</string>
	<key>GCM_SENDER_ID</key>
	<string>965152306523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrgsdev.Chapter-37</string>
	<key>PROJECT_ID</key>
	<string>chapter-37</string>
	<key>STORAGE_BUCKET</key>
	<string>chapter-37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965152306523:ios:a8eed281d537d73787167e</string>
</dict>
</plist>